.clients_container {
  width: 100%;
  padding: 3rem 0;
  background-color: var(--bg-light);
  overflow: hidden;
  display: grid;
  grid-template-columns: 12% 86%;
  gap: 2rem;
  align-items: center;
  border-top: 1px solid var(--border-light);
  border-bottom: 1px solid var(--border-light);
}

.client_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 1.5rem;
}

.client_title_seperator {
  width: 1px;
  height: 60%;
  background-color: var(--border-light);

}

.title {
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  white-space: nowrap;
  font-family: var(--font-subheading);
  color: var(--subheading-light);
  font-weight: 400;
}

.slider {
  width: 100%;
  height: 100px;
  position: relative;
  background: var(--bg-light);
  display: flex;
  align-items: center;
  overflow: hidden;
}
  
.slide_track {
  display: flex;
  width: calc(150px * 12); /* Width accounting for all logos */
  animation: scroll 30s linear infinite;
}

.slide_track:hover {
  animation-play-state: paused; /* Pause on hover */
}
  
.slide {
  width: 150px;
  /* height: 150px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-shrink: 0; /* Prevent logos from shrinking */
}

.client_logo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  filter: invert(1);
}

/* .client_logo:hover {
  filter: grayscale(0%);
  opacity: 1;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 6)); /* Width of one set of logos exactly */
  }
}

/* Dark mode support */
:global(.dark-mode) .clients_container {
  background-color: var(--bg-dark);
}

:global(.dark-mode) .title {
  color: var(--heading-dark);
}

@media (max-width: 1198px) {
  .clients_container {
    grid-template-columns: 20% 80%;
    padding: 40px 0;
  }
  .client_title_seperator {
    width: 2px;
  }

}

/* Responsive adjustments */
@media (max-width: 807px) {
  .clients_container {
    grid-template-columns: 1fr;
    padding: 2rem 0;
  } 

  .client_title {
    justify-content: center;
  }

  .client_title_seperator {
    display: none;
  }

  .title {
    padding-left: 0;
  }
  /* .client_title {
    justify-content: center;
    height: 1rem;
  } */
}

@media (max-width: 768px) {
  .clients_container {
    align-items: center;
    gap: 1rem;
  }

 

  .slider {
    width: 100%;
    margin-left: 0;
  }

  .slide {
    width: 120px;
    padding: 0 15px;
  }

  .slide_track {
    width: calc(120px * 24); /* Adjust for mobile */
  }

  @keyframes scroll {
    100% {
      transform: translateX(calc(-120px * 12));
    }
  }
}