* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('/fonts/Satoshi-Variable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Light mode color */
  --bg-light: #FDFBF5;
  --heading-light: #191919;
  --subheading-light: #2e2e2e;
  --paragraph-light: #313131;
  --button-light-bg: #191919;
  --button-light-text: #ffffff;
  --border-light: #191919;

  /* Dark mode color */
  --bg-dark: #191919;
  --heading-dark: #FDFBF5;
  --subheading-dark: #dfdede;
  --paragraph-dark: #c1c1c1;
  --button-dark-bg: #ffffff;
  --button-dark-text: #191919;
  --border-dark: #FDFBF5;

  /* Default theme (light) */
  --background: var(--bg-light);
  --heading: var(--heading-light);
  --subheading: var(--subheading-light);
  --paragraph: var(--paragraph-light);
  --button-bg: var(--button-light-bg);
  --button-text: var(--button-light-text);
  --border: var(--border-light);

  /* Fonts */
  --font-heading: "Syne";
  --font-subheading: "Roboto Mono";
  --font-paragraph: "Satoshi";
  --font-button: "Roboto Mono";
}

/* Dark mode styles */
:root.dark-mode {
  --background: var(--bg-dark);
  --heading: var(--heading-dark);
  --subheading: var(--subheading-dark);
  --paragraph: var(--paragraph-dark);
  --button-bg: var(--button-dark-bg);
  --button-text: var(--button-dark-text);
  --border: var(--border-dark);
}

body {
  background-color: var(--background);
  color: var(--heading);
  transition: all 0.3s ease;
}

.container {
  border: 1px solid var(--border);
  margin: 16px;
  min-height: 100vh;
  transition: all 0.3s ease;
  overflow: hidden;
}

html.has-scroll-smooth {
  overflow: hidden;
}

#smooth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  min-height: 100vh;
  width: 100%;
}

/* Simple Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #858585;
  opacity: 0.5;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888888 var(--background);
}